img {
  max-height: 150px;
  max-width: 200px;
}
.odd {
  float: left;
  margin-right: 10px;
}
p {
  text-align: justify;
}
.even {
  float: right;
  margin-left: 10px;
}
html {
  background-color: rgb(226, 217, 168);
  color: rgb(0, 76, 190);
}